#canvasContainer {
  padding-left: 50px;
  margin: 0 auto;

  @media (min-width: 500px) and (max-width: 599px) {
    padding: 5px;
  }

  @media (max-width: 499px) {
    padding: 5px;
  }
}

#chartHeader {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 5px;
  //max-width: 600px;
  font-weight: bold;
  font-size: 35px;
  font-variant: small-caps;
  font-family: sans-serif;

  @media (min-width: 500px) and (max-width: 599px) {
    width: 450px;
    font-size: 20px;
    padding: 5px;
  }

  @media (max-width: 499px) {
    width: 300px;
    font-size: 30px;
    padding: 5px;
  }
}

#chartExplainer {
	font-weight: 100;
	font-size: 0.5em;
  font-variant: normal;
}

#chartControls {
  font-size: 0.75em;
  font-variant: normal;
  font-weight: normal;
  margin: 0 auto;
}

#canvas_main {
  -webkit-display: inline;
  -moz-display: inline;
  -ms-display: inline;
  -o-display: inline;
  display: inline;
  font-size: 35px;
  width: 500px;
  height: 500px;

  @media (min-width: 500px) and (max-width: 599px) {
    width: 450px;
    height: 450px;
    font-size: 20px;
  }

  @media (max-width: 499px) {
    width: 300px;
    height: 300px;
    font-size: 30px;
  }
}

#tweetInfo_canvas_main {
  visibility: hidden;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-right: 50px;
  //max-width: 590px;
  font-family: sans-serif;
  font-weight: 100;

  @media (min-width: 500px) and (max-width: 599px) {
    max-width: 440px;
    padding-right: 5px;
  }

  @media (max-width: 499px) {
    max-width: 290px;
    padding-right: 5px;
  }
}
